<div class = "row">
  <%= render "shared/search" %>
</div>

<div class = "row">
  <div class = "col-sm-3">
    <h4><%= render 'categories/category' %></h4> 
    <div class = "well well-sm">
    <div id="tag_cloud well">
      <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
        <li class="label label-info col-sm-12"><h5>Search Recipe from Following Tags</h5>
        </li>
      </ul>
    </div>
    <br>
      <% tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class| %>
        <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div> 
  </div>

  <div class="col-md-8 pull-right">
    <h3>All Recipes (<%= @recipes.count %>)</h3>
      <%= will_paginate @recipes %>
        <ul style = "list-style-type: none;">
          <%= render @recipes %>
        </ul>
      <%= will_paginate @recipes %>
  </div> 
</div>
