<div class = "row">
  <aside class = "col-md-4">
    <%= render 'categories/category' %> 
    <%= render "shared/search" %> <br>
    <div id="tag_cloud">
    <h3>=> Search Recipe from Following Tags</h3>
  <% tag_cloud Recipe.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div> 
</aside>

  <div class="col-md-6">

    <h3>All Recipes (<%= @recipes.count %>)</h3>
     <%= will_paginate @recipes %>
      <ul style = "list-style-type: none;">
        <%= render @recipes %>
      </ul>
      <%= will_paginate @recipes %>
  </div>
  
</div>

 
