<% provide(:title) %>

<div class="row">


  <div class="col-md-6">
    <% if @recipe %>
      
      <ul style = "list-style-type: none;">
		  <li style = "list-style-type: disc;"><big> Category : </big><%= @recipe.category.name %></li>
		  <li><big> Recipe Name : </big><%= @recipe.name %></li>
		  <li><%= image_tag @recipe.picture.url if @recipe.picture? %></li>
		  <li><big> Ingredients : </big><%= @recipe.ingredients %></li>
		  <li><big> Method : </big><%= @recipe.method %></li>
      
      </ul>
    <% end %>
  </div>
</div>



