<% provide(:title, current_user.email) %>
<%= will_paginate @recipes %>
<div class="row">
  <aside class="col-md-2">
    <h2>
      <%= gravatar_for current_user %>
      <%= current_user.email %>
    </h2>  
  </aside>
  <div class="col-md-10">
    <% if @recipes.any? %>
      
        <h3>Your Recipe</h3>
        <ul style = "list-style-type: none;">
            <%= render partial: 'recipes/recipe', collection: @recipes %>
        </ul>
      <% end %>
  </div>
</div>
<%= will_paginate @recipes %>